body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;    ;
}

.pro{
    text-decoration: underline;
    text-transform: uppercase;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    color: #0c7b93;
    margin: 50px auto 0 auto;
}

h2{
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.5rem;
    color: #0c7b93;
    font-weight: normal;
}

h3{
    text-decoration: underline;
    color: #11999E;
}

p{
    color: #40514E;
}

.topContainer{
    position: relative;
    padding-top: 100px;
    background-color:#f1fcfc;
}

.programmer{
    font-weight: lighter;
    color: #0c7b93;
}

.topCloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottomCloud{
    position: absolute;
    left: 300px;
}

.profileImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.skillImage1, .skillImage2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.skillTable, .envTable{
    padding-left: 35%;
}

a{
    color: tomato;
    padding-left: 10px;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: blue;
}

.bottomBox{
    height: 150px;
    background-color: #97e5ef;
    padding-top: 10px;
}

.credit{
    color: #EAF6F6;
    padding-top: 30px;
}

hr{
    border: none;
    border-top: 7px dotted #0c7b93;
    width: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume {
    font-family: arial;
    color: #14396A !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 50px;
    border: 2px solid rgb(187, 31, 10);
    background: rgb(187, 31, 10);
    background: linear-gradient(top,  #63B8EE,  #468CCF);
    background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
    background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
  }
  .resume:hover {
    color: #f1fcfc !important;
    text-shadow: 1px 1px 0px #f1fcfc;
    background: #468CCF;
  }

